-@images.each_slice(3) do |slice|
  - slice.each_with_index do |data,si|
    = render :partial => 'image_well', :locals => {:data => data}
  - if (slice.last == @images.last)
    .span12.next_container
      .well
        %h1.center=link_to 'Keep It Going...', root_path(:max_ids => @next_max_ids), :class => 'next_link', :'data-remote' => true
