.container
  %h1 culture @engineyard

  -@venues.each_slice(3) do |slice|
    .row
      - slice.each do |data|
        .span4
          .well
            = image_tag data.images.low_resolution.url
            %small
              %strong #{data.user.username}
