!!!
%html
  %head
    %title Gram
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      %h1 Culture @EngineYard
      =# render :partial => '/search/form'
      #images.row
        = yield
      %br
      %br
    .navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          %ul.nav
            %li
              =link_to 'Join our team', 'http://www.engineyard.com/company/careers/open-positions'
            %li
              =link_to 'Help others', 'http://watsi.org'
            %li
              =link_to 'Out of office', 'http://engineyard.tumblr.com'
            %li
              =link_to 'View the source', 'https://github.com/gpxl/instaculture'

    #myModal.modal.hide
      .modal-body
        .span
